# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
**/data/
**/volumes/

# Milvus / MySQL 本地数据
milvus_data/
mysql_data/
redis_data/
